@using ESN3.WebUI.Models
@using ESN3.WebUI.HtmlHelpers
@model ProfilesListViewModel

@{
    ViewBag.Title = "AllProfiles";
}



<div class="row">

    <div class="col-md-8 col-md-offset-2 col-md-pull-2">

        <h2>All Profiles</h2>
        <p>Total @ViewBag.Total profile(s)</p>

        @if (ViewBag.Total > Model.PagingInfo.TotalItems)
        {
            <p>Find @Model.PagingInfo.TotalItems profile(s)</p>
        }

        @foreach (var p in Model.Profiles)
        {
            @Html.Partial("ProfileSummary", p)
        }

    </div>


    <div style="border: 2px solid red" class="col-md-2 pull-right well">

        <h2>Filter</h2>

        @using (Html.BeginForm("Filter", "ProfilesList", FormMethod.Get))
        {
            <div class="form-group">

                <div class="form-group">
                    <label>@Html.LabelFor(p => p.searchProfile.fName)</label>
                    @Html.TextBoxFor(p => p.searchProfile.fName, new { @class = "form-control text-center" })
                </div>

                <div class="form-group">
                    <label>@Html.LabelFor(p => p.searchProfile.lName)</label>
                    @Html.TextBoxFor(p => p.searchProfile.lName, new { @class = "form-control text-center" })
                </div>

                <div class="form-group">
                    <label>@Html.LabelFor(p => p.searchProfile.mName)</label>
                    @Html.TextBoxFor(p => p.searchProfile.mName, new { @class = "form-control text-center" })
                </div>

                <div class="form-group">
                    <label>@Html.LabelFor(m => m.searchProfile.Gender)</label>
                    @Html.EnumDropDownListFor(m => m.searchProfile.Gender, new { @class = "form-control text-center" })
                </div>



            </div>

            <div class="btn-group center-block">
                <button type="submit" class="btn btn-default">
                    Filter
                </button>

                <button type="reset" class="btn btn-default">
                    Reset
                </button>
            </div>
        }
    </div>
</div>





<div class="row">
    <div class="btn-group pull-right">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
    </div>
</div>