@{
    string classDefault = "";
    string classActive = "active";

    string controller = (string)ViewContext.Controller.ControllerContext.RouteData.Values["controller"];
    string action = (string)ViewContext.Controller.ControllerContext.RouteData.Values["action"];

    //ViewBag.NavProfileSec;

}

<ul class="nav nav-tabs">

    @if (User.Identity.IsAuthenticated)
    {
        <li class=@(action == "ShowOne" ? classActive : classDefault)>

            @Html.RouteLink(User.Identity.Name.Split('|')[0].ToString(),
                                     new
                                     {
                                         Controller = "Profile",
                                         Action = "ShowOne",
                                         login = User.Identity.Name.Split('|')[0]
                                     })
        </li>

        @*<li class=@(action == "ShowOne" ? classActive : classDefault)>

            @Html.RouteLink("My Profile",
                                    new
                                    {
                                        Controller = "Profile",
                                        Action = "ShowOne",
                                        login = User.Identity.Name.Split('|')[0]
                                    })
        </li>*@

        <li class=@(action == "Edit" ? classActive : classDefault)>

            @Html.RouteLink("Edit My Profile",
                                     new
                                     {
                                         Controller = "Profile",
                                         Action = "Edit",
                                         login = User.Identity.Name.Split('|')[0]
                                     })
        </li>
    }
    else
    {
        <li class=@(action == "Create" ? classActive : classDefault)>

            @Html.RouteLink("Create",
                                             new
                                             {
                                                 Controller = "Profile",
                                                 Action = "Create"
                                             })
        </li>
    }
    <li class=@(action == "Index" ? classActive : classDefault)>
        @Html.RouteLink("Index",
                                    new
                                    {
                                        Controller = "Profile",
                                        Action = "Index",
                                        login = User.Identity.Name.Split('|')[0]
                                    })
    </li>
</ul>

