@model ESN.Domain.Entities.Profile

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //var items = new List<SelectListItem>()
    //{
    //    new SelectListItem
    //    {
    //        Text = "Action",
    //        Value = "Action",
    //        Selected = true
    //    },
    //    new SelectListItem
    //    {
    //        Text = "Drama",
    //        Value = "Drama",
    //        Selected = true
    //    }
    //};
}

<div class="col-md-offset-2 col-md-6">

    <h2>EditProfile</h2>



    @*<!-- cdn for modernizr, if you haven't included it already -->
          <script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
          <!-- polyfiller file to detect and load polyfills -->
          <script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
          <script>
        webshims.setOptions('waitReady', false);
        webshims.setOptions('forms-ext', {types: 'date'});
        webshims.polyfill('forms forms-ext');
          </script>*@









    @using (Html.BeginForm())
    {

        @Html.ValidationSummary()

        <div class="form-group">

            @*@Html.EditorForModel()*@

            @Html.HiddenFor(m => m.ProfileId)

            @*<div class="form-group">
                <label>@Html.LabelFor(m => m.AvatarImageId)</label>

                <div>

                    <img class="center-block img-responsive" alt="" src="@(Url.Action("GetImage", "Image", new { ImageId = Model.AvatarImageId }))" />

                </div>

                <select class="form-control user-success" id="Name" name="Name">

                    @foreach (var image in ViewBag.Images)
                    {
                        <option value="image" style="background-image:url(@(Url.Action("GetImage", "Image", new { ImageId = image })))">

                                @(image)
                             
                        </option>
                    }

                    <option value="Action">Action</option>
                    <option selected="selected" value="Drama">Drama</option>

                </select>
            </div>*@

                <div class="form-group">
                    <label>@Html.LabelFor(m => m.AvatarImageId)</label>
                    @Html.ActionLink("change Avatar", "PhotobooksForAvatar", new { ProfileId = Model.ProfileId }, new { @class = "btn btn-default form-control text-center" })
                </div>


                <div class="form-group">
                    <label>@Html.LabelFor(m => m.fName)</label>
                    @Html.TextBoxFor(m => m.fName, new { @class = "form-control text-center" })
                </div>

                <div class="form-group">
                    <label>@Html.LabelFor(m => m.lName)</label>
                    @Html.TextBoxFor(m => m.lName, new { @class = "form-control text-center" })
                </div>

                <div class="form-group">
                    <label>@Html.LabelFor(m => m.mName)</label>
                    @Html.TextBoxFor(m => m.mName, new { @class = "form-control text-center" })
                </div>

                <div class="form-group">
                    <label>@Html.LabelFor(m => m.Gender)</label>
                    @Html.EnumDropDownListFor(m => m.Gender, new { @class = "form-control text-center" })
                </div>

                <div class="form-group">
                    <label>@Html.LabelFor(m => m.dob)</label>
                    @*<input type="date" value="2011-05-05" class="form-control text-center" name="dob" />*@
                    @*@Html.EditorFor(m => m.dob, new { @class = "form-control", style = "type: date;" })*@
                    @Html.EditorFor(m => m.dob, new { @class = "form-control" })


                </div>

                @*<div class="form-group">
                <label>Radiobutton</label>
                @((CodeFirst.Region)1) @Html.RadioButtonFor(m => m.Region, (CodeFirst.Region)1)
                @((CodeFirst.Region)0) @Html.RadioButtonFor(m => m.Region, (CodeFirst.Region)0)
            </div>*@

                <div class="form-group">
                    <label>@Html.LabelFor(m => m.Language)</label>
                    @Html.EnumDropDownListFor(m => m.Language, new { @class = "form-control" })
                </div>

            </div>
        <button type="submit" class="btn btn-default center-block">
            Save Changes
        </button>


            @*@Html.DropDownListFor(c => c.Name, items, new { @class = "form-control" })
                @Html.ListBoxFor(m => SelectedCities, items, new { size = 5 })*@

    }
</div>

